@font-face {
    font-family: "LilianMar-Regular";
    src: url('fonts/LilianMar-Regular.ttf')  format("truetype"),
         url('fonts/LilianMar-Regular.otf')  format("opentype"),
         url('fonts/LilianMar-Regular.woff') format('woff');
}

p, textarea {
    font-family: 'LilianMar-Regular', sans-serif;
    font-size: 150%;
}
textarea {
    letter-spacing: -0.14em;
    word-spacing: -0.0em;
}
code, pre {
	font-family: 'Courier New', monospace;
}
