@import url('//fonts.googleapis.com/css?family=Incosolata');

@font-face {
    font-family: "LilianFeb";
    src: url('fonts/Lilianfeb-Regular.ttf')  format("truetype");
         /* url('fonts/Lilianfeb-Regular.otf')  format("opentype"), */
         /* url('fonts/Lilianfeb-Regular.woff') format('woff'); */
}

body {
    font-family: 'LilianFeb', sans-serif;
    font-size: 150%;
}
code, pre {
	font-family: 'Inconsolata', 'Courier New', monospace;
}